:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --page-title: #ffc2e6;
  --header-menu-text: #353430;
  --header-menu-border-hover: rgba(53, 52, 48, 0.4);
  --header-menu-border: #353430;
  --font-color: #353430;
  --section-title: #353430;
  --section-text: #353430;
}

.theme-light .header__rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --page-title: #ffc2e6;
    --header-menu-text: #353430;
    --header-menu-border-hover: rgba(53, 52, 48, 0.4);
    --header-menu-border: #353430;
    --font-color: #353430;
    --section-title: #353430;
    --section-text: #353430;
  }
  
  .header__rec-label {
    display: none;
  }
}
